<!-- template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Vikings - Success</title>
</head>
<body>
    <h3>success added photo</h3>

    животное: медведь<br>
    дата: 05.07.2024<br>
    длительность: 4 часа<br><br>


    result:<br> <img src="https://cdn.iz.ru/sites/default/files/article-2021-07/RIAN_5874336.HR_.ru_.jpg" alt="" height="300">

    <br>
    <br>
    <br>
    <a href="{% url 'upload_photo_page' %}">Return to photo upload page</a>
</body>
</html>